/* .webproject-container-mobile {
    margin-top: 100px;
    padding: 0px;
}
.web-projects-mobile {
    transition: margin-bottom 0.5s ease;
} */

.web-section-mobile {
    margin-bottom: 100px;
    /* transition: margin-bottom 0.5s ease; */
}

/* .web-section-mobile.active {
    margin-bottom: 200px;
} */