.webproject-container {
    margin-top: 100px;
    padding: 0px;
}
.web-projects {
    transition: margin-bottom 0.5s ease;
}

.web-section {
    margin-bottom: 20px;
    transition: margin-bottom 0.5s ease;
}

.web-section.active {
    margin-bottom: 180px;
}