.contact-phone {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #E4B5C2;
}

.first-part {
    flex-shrink: 0;
    background-color: #E4B5C2;
}

.second-part {
    margin-top: auto;
    flex-shrink: 0;
    background-color: #E4B5C2;
}


.in-and-out {
    transition: all 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pragmatica';
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    background-color: #E4B5C2;

}

.in-and-out ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    background-color: #E4B5C2;
}

.in-and-out li {
    background-color: #E4B5C2;
}

.in-and-out ul li a {
    background-color: #E4B5C2;
}

.in-and-out p {
    margin: 0;
    padding: 0;
    padding: 15px;
    background-color: #E4B5C2;
}

.in-and-out.visible {
    max-height: 500px;
    opacity: 1;
    background-color: #E4B5C2;
}

.contact-mini-title {
    cursor: pointer;
}

.contact-mini-title svg {
    transition: transform 0.3s ease;
    width: 15px;
    height: 15px;
    background: transparent;
    stroke-width: 0.5;
}

.link-icon.MuiSvgIcon-root {
    width: 10px;
    height: 10px;
    background: transparent;
    vertical-align: middle;
    margin-left: 5px;
}

.contact-mini-title:has(+ .in-and-out.visible) svg {
    transform: rotate(180deg);
}

.toggle-contact-phone {
    border-top: 1px solid #D50429;
}

.toggle-contact-phone:nth-of-type(3) {
    border-bottom: 1px solid #D50429;
}

.toggle-contact-phone h5 {
    padding: 15px;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Pragmatica';
    font-family: 'Work Sans', sans-serif;
    background-color: #E4B5C2;

}

.contact-presentation {
    border-top: 1px solid #D50429;
    border-bottom: 1px solid #D50429;
    font-family: 'Pragmatica';
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #E4B5C2;
}

.contact-presentation p {
    background-color: #E4B5C2;
}

.contact-presentation p i {
    background-color: #E4B5C2;
}

.city-and-hour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #D50429;
    background-color: #E4B5C2;
}

.city-and-hour h5 {
    text-align: center;
    margin: 0;
    font-family: 'Pragmatica';
    font-family: 'Work Sans', sans-serif;
    background-color: #E4B5C2;
}