.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content .image-wrapper {
  position: relative;
  display: inline-block;
}

.modal-content .image-wrapper::before {
  content: '';
  position: absolute;
  top: -23px;
  right: -23px;
  bottom: -23px;
  left: -23px;
  border: 1px solid red;
  border-radius: 50px;
  pointer-events: none;
}

.modal-content .image-wrapper img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.modal-content .close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  color: red;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.nav-button {
  position: fixed; ;
    background: red;  /* o el color que prefieras */
    border: none;
    width: 20px;       /* ancho y alto iguales para hacer un círculo */
    height: 20px;
    border-radius: 50%; /* esto lo hace circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button.prev {
  left: 20px;
}

.nav-button.next {
  right: 20px;
}

.nav-button:hover,
.close-button:hover {
  opacity: 0.8;
}

/* Media query para móvil */
@media (max-width: 767px) {
  .modal-content {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: transparent;

  }

  .modal-content .image-wrapper::before {
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    border-radius: 25px;

  }

  .modal-content .image-wrapper img {
    max-height: calc(100vh - 100px);
  }

  .nav-button {
    width: 30px;
    height: 30px;
    top: auto;
    bottom: 30px;
    transform: none;
  }

  .nav-button.prev {
    left: 30px;
  }

  .nav-button.next {
    right: 30px;
  }
}