.web-section-mobile {
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    margin-right: calc((100% - 100vw) / 2);
    padding: 0;
}

.web-section-mobile .first-line-intro h3,
.web-section-mobile .first-line-intro p {
    font-family: 'Pragmatica';
}

.first-line-intro {
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-top: 1px solid rgb(165, 165, 165);
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
}

.first-line-intro h3,
.first-line-intro p {
    margin: 0;
    margin-inline: 1em;
    display: block;
    font-size: 12px;
}

.first-line-intro h3 {
    font-size: 18px;
    letter-spacing: 1.1px;
}

.first-line-intro h3 svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: top;
}

.github-icon svg{
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    font-size: 10px;
}

.github-icon {
    font-size: 10px;
}

.second-line-intro .description {
    max-width: 600px;
    line-height: 1.2;
    margin: 0;
    margin-inline: 1em;
    display: block;
    font-size: 12px;
    padding-bottom: 15px;
    font-family: 'Pragmatica';
}

.third-line-intro p {
    margin: 0;
    margin-inline: 1em;
    display: block;
    font-size: 12px;
    padding-bottom: 25px;
    font-family: 'Pragmatica';
}

.second-line {
    width: 100%;
    margin-top: 0px;
}

.second-line .carousel {
    width: 100%;
    overflow: hidden;
}