/* .header-container-desktop {
    display: flex;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 10px;
    background-color: #f4f4f4;
    padding: 5px;
    z-index: 100;
} */

/* .header-container-desktop {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #f4f4f4;
    padding: 5px;
    position: relative; 
    right: 10px;

    position: sticky;
    top: 0;
} */

.header-container-desktop {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #f4f4f4;
    padding: 5px;
    position: relative;
    right: 10px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header-home-desktop, .navigator-desktop {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: transparent;
}

.header-home-desktop {
    justify-content: flex-start;
    padding: 20px;
}

.header-home-desktop a {
    text-decoration: none;
    color: inherit;
}

.header-home-desktop h1 {
    font-family: 'Times New Roman';
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.30em;
    margin: 0;
}

.navigator-desktop {
    justify-content: flex-end;
    font-size: 15px;
    font-family: 'Times New Roman';
    letter-spacing: 0.30em;
}

.navigator-desktop .active {
    color:red;
}

.navigator-desktop nav {
    background-color: transparent;
}

.navigator-desktop ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.navigator-desktop li {
    margin-right: 20px;
    background-color: transparent;
}

.navigator-desktop li:last-child {
    margin-right: 0;
}

.navigator-desktop a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.contact-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman';
    letter-spacing: 0.30em;
  }
  
  /* .contact-button:hover {
  } */