@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
   }

.carousel {
    height: 280px;
    width: 100%;
    /* overflow-x: auto; */
    overflow-y: hidden;
    white-space: nowrap;
    gap:10px;
}


/* .carousel > * {
    height: 100%;
    width: auto;
    display: inline-block;
    animation: scroll 50s linear infinite;
 } */

 .carousel > img {
    /* padding: 10px; */
    object-fit: cover;
    
    height: 100%;
    width: auto;
    display: inline-block;
    animation: scroll 50s linear infinite;

    margin-right: 10px;
 }