@keyframes scroll {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(-50%); /* Movemos solo hasta la mitad, donde empieza la copia */
    }
}

.carousel {
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel-track {
    display: flex;
    width: max-content;
    height: 100%;
    animation: scroll 30s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused; 
}

.carousel-track > img {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}


