* {
  box-sizing: border-box;
  /* padding: 5px; */
  background-color: #f4f4f4;
}

html, body {
  margin: 0; 
  height: 100%; 
  background-color: #f4f4f4;
  flex-direction: column;
  display: flex;
  /* padding-top: 40px; */
}

/* Estilos generales para enlaces */
a {
  text-decoration: none; 
  color: inherit; 
}

/* Reset básico para listas */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos base para tipografía */
h1 {
  font-family: 'Times New Roman'; 
  font-size: 15px; 
  text-transform: uppercase; 
  font-weight: 300;
  letter-spacing: 0.30em;
  margin: 0;
}

/* Estilos para el contenedor principal */
#root {
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* Estilos para el contenido principal */
main {
  flex: 1;
  padding: 20px;
  margin-top: 10vh; /* Para compensar el header fijo */
  background-color: #f4f4f4;
}